.eunit
.rebar
.coap_dialyzer*

.project
.settings
deps
ebin
src/er_core_link_scanner.erl
src/er_core_link_parser.erl
erl_crash.dump
*.pem
/_build/
.idea/
_build/
examples/sample.iml
rebar.lock
*.iml
*.d

