{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            {parse_transform}]}.
{deps, [{emqx_http_lib, {git, "https://github.com/emqx/emqx_http_lib", {tag, "0.4.1"}}}]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{xrl_opts, [
    {report_warnings, false},
    {verbose, true}
]}.

{yrl_opts, [
    {report_warnings, false},
    {verbose, true}
]}.
